/* Add CSS Styling */
.odd{
    background-color: pink;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#elem2{
    color: blue;
    font-size: 36px;
}

.elem3{
    font-size: 24px;
}

#elem4{
    font-weight: bold;
    background-color: lightgreen;
    font-size: 24px;
}